.liveInBlue {   color:#0b3b60; }
.workInBlue { color:#005796; }
.govBlue { color:#0072ad; }
.manageAccountBlue {  color:#0098d1; }

.SBgrey6 {  color:#282829; }
.SBgrey5 {  color:#303433; }
.SBgrey4 {  color:#424846; }
.SBgrey3 {  color:#797e78; }
.SBgrey2 {  color:#848e8a; }
.SBgrey1 {  color:#eceff1; }

.SBgreen {  color:#00846b; }
.SBred {  color:#c1352d; }
.SByellow {  color:#f7ce3c; }