

<!--Header-->
<div class="row">		
	<!--System Name-->
	<div class="col-lg-8" style="height: 100px;">
	    <div class="row" style=" margin-left: 5%;" vertical-align="baseline" align="left">
        	<a href="../mySB/mySB_splash.php"  style="text-decoration:none;">
	            <mySB_header_my> my </mySB_header_my> 
	            <mySB_header_s> S </mySB_header_s> 
	            <mySB_header_b > B </mySB_header_b> 
	            <span class="mySB_header_welcome_tagline"> welcome <script>document.write(name_of_user)</script>! </span> 
	        </a>
	 	</div>
	 	
	</div>

	<!--Logout-->
	<div class="col-lg-4" style=" height: 100px;" right-margin="3.3%" align="right">
	  
		<div class="row" style=" margin-right: 10%;" vertical-align="baseline" align="right"> 
		      	
			<a href="../SB/SB_splash.php"  style="text-decoration:none;">
		    	<span class="mySB_header_logout">logout</span>
		    </a>
	    		  
	  	</div>
  
   	</div>
   	
</div>
