
  <head>
    <meta charset="utf-8">
    <title>mySB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <link rel="stylesheet" type="text/css" href="../../css/goldbootstrap.css"> 
    <link rel="stylesheet" type="text/css" href="../../css/mySB_specific.css"> 
    <link rel="stylesheet" type="text/css" href="../../css/style.css"> 
    <link rel="stylesheet" type="text/css" href="../../css/flex-calendar.css"> 
    
  </head>
  
<body style="background-color:#eceff1;">
