
<div class="col-lg-8">
	<div class="row SBgrey5" style="height: 10%; margin-right:4%">
  		<div class="col-gold-lg" align="left"> 
      		<span class="page_title">  
      			<script>document.write(PAGE_TITLE)</script>
      			<!--Recent Activity -->
      			</span>
  		</div>
  		
  		
	    <div class="col-gold-sm" >
	    	
	        <div class="row" style="margin-top:3%;margin-right:-1%;">
	                  
	          <div class="input-group">
	            <input class="form-control" id="inputSearchBar" placeholder="I want to..." type="text">
	            <span class="input-group-btn">
	              <button class="btn btn-default" type="button">
	              	<!--<div style="font-size: 13.5px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg);"> -->
	                	Search
	              	<!--</div>-->
	              </button>
	            </span>
	          </div>
	        </div>
	      
		</div>
	
  	</div>
  	
  	<div class="row" style="height: 100%; margin-top:1%;margin-left:-1%;margin-right:5%;">
