		<div class="col-lg-4" style="height:100%;">
        	<a href="../live_in/live_in.php" class="btn btn-live-in btn-lg btn-block" style="margin-left:10%;  height: 24.5%; width:80%;">
        		<h2>LIVE IN</h2></a>
          	<a href="../work_in/work_in.php" class="btn btn-work-in btn-lg btn-block" style="margin-left:10%; margin-top: 1%; height: 24.5%; width:80%">
          		<h2>WORK IN</h2></a>
          	<a href="../gov/gov.php" class="btn btn-gov btn-lg btn-block" style="margin-left:10%; margin-top: 1%; height: 24.5%; width:80%">
          		<h2>GOV</h2></a>
          	<a href="../mySB/manage_account.php" class="btn btn-manage btn-lg btn-block" style="margin-left:10%; margin-top: 1%; height: 24.5%; width:80%">
          		<h2>mySB<span class="glyphicon glyphicon-cog"></span></h2></a>
          
        </div>
        
