

  	<!--<div class="row" style="height: 90%;  margin-right:1%">-->

    	<div class="col-12" style="height: 100%;"> 
    		
    		<div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabMyApplications" data-toggle="tab">My Applications</a></li>
                            <li><a href="#tab1default" data-toggle="tab">City Assistance</a></li>
                            <li ><a href="#tabPaymentsOverview" data-toggle="tab">City Payments</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Other Recent Activity <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                                    <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                    	<div class="tab-pane fade in active" id="tabMyApplications" height="100%"> 
                        	
								                	
								<div class="col-12">	


									<!------------------------->					
									<div class="panel">
						                <div class="panel-heading" style="height: 40px; padding: 10px 15px;">
						                    <div class="col-lg-6">	
	                                              <p><b>Position</b></p> 
						                    	</div>
						                    	<div class="col-lg-3">
	                                              <p><b>Status</b></p> 
						                    	</div>
						                </div>
						                <ul class="list-group">
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Smart City Internship</p> 
						                    	</div>
						                    	<div class="col-lg-3">
	                                              <p>Submitted</p> 
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Animal Shelter Internship</p> 
						                    	</div>
						                    	<div class="col-lg-3">
	                                              <p>Submitted</p> 
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Administrative Assistant</p> 
						                    	</div>
						                    	<div class="col-lg-3">
	                                              <p>Submitted</p> 
						                    	</div>
						                    </a>
							            </ul>
							        </div>
		            				<!------------------------->	
		            				
								</div>
								
								
                       	</div>
                        
        				<div class="tab-pane fade" id="tabPaymentsOverview"> 
            	
							<table class="table" > 
								<thead> 
									<tr> 
									  <th><h3 style="padding:0px; margin:0px">Status</h3></th> 
									  <th><h3 style="padding:0px; margin:0px">Charge</h3></th> 
									  <th><h3 style="padding:0px; margin:0px">PaymentID</h3></th> 
									  <th><h3 style="padding:0px; margin:0px">Amount</h3></th>									
									</tr> 
								</thead> 
								<tbody> 
									<tr> 
										<td>Due Nov 7 2016</td> 
										<td>Parking Violation #75403</td> 
										<td>#1030_8890</td> 
										<td>$50</td> 
									</tr> 
									<tr> 
										<td>Due Nov 9 2016</td> 
										<td>Parking Violation #75405</td> 
										<td>#1030_8890</td> 
										<td>$50</td> 
									</tr> 
							
									<tr> 
										<td>Paid Oct 30 2016</td> 
										<td>Parking Violation #5009</td> 
										<td>#1030_8890</td> 
										<td>$50</td> 
									</tr> 
									<tr> 
										<td>PaidOct 30 2016</td> 
										<td>Utilities - 123 4th Street</td> 
										<td>#1030_8880</td> 
										<td>$20</td> 
									</tr> 
							
								</tbody> 
							</table>
							
                       	</div>
                      
                        <div class="tab-pane fade" id="tab2default"> 2</div>
                        <div class="tab-pane fade" id="tab3default"> 3</div>
                        <div class="tab-pane fade" id="tab4default"> 4</div>
                        <div class="tab-pane fade" id="tab5default"> 5</div>
                    </div>
                </div>
            </div>
        
    	

            
  		</div>
	</div>