
    	<div class="col-12" style="height: 100%;"> 
    		
    		<div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabMyApplications" data-toggle="tab">My Applications</a></li>
                            <li><a href="#tabOpenPositions" data-toggle="tab">Open Positions</a></li>
                            <li><a href="#tabBusiness" data-toggle="tab">Business</a></li>
                            <li><a href="#tabResources" data-toggle="tab">Resources</a></li>
                        </ul>
                </div>
                <div class="panel-body " >
                    <div class="tab-content"  height="100%">
                        <div class="tab-pane fade in active" id="tabMyApplications"  height="100%"> 
                        	
								                	
								<div class="col-12">	


									<!------------------------->					
									<div class="panel">
						                <div class="panel-heading" style="height: 40px; padding: 10px 15px;">
						                    <div class="col-lg-6">	
	                                              <p><b>Position</b></p> 
						                    	</div>
						                    	<div class="col-lg-3">
	                                              <p><b>Status</b></p> 
						                    	</div>
						                </div>
						                <ul class="list-group">
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Smart City Internship</p> 
						                    	</div>
						                    	<div class="col-lg-3">
	                                              <p>Submitted</p> 
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Animal Shelter Internship</p> 
						                    	</div>
						                    	<div class="col-lg-3">
	                                              <p>Submitted</p> 
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Administrative Assistant</p> 
						                    	</div>
						                    	<div class="col-lg-3">
	                                              <p>Submitted</p> 
						                    	</div>
						                    </a>
							            </ul>
							        </div>
		            				<!------------------------->	
		            				
								</div>
								
								
                       	</div>
                        <div class="tab-pane fade in" id="tabOpenPositions"  height="100%"> 
                        	
								<div class="col-12"  height="10%">
                        			
	            					<input class="form-control" id="inputSearchBar" placeholder="I want to work with the city as a(n)..." type="text">
	            					
                        		</div>
								                	
								<div class="col-12"  height="90%">	


									<!------------------------->					
									<div class="panel">
						                <div class="panel-heading" style="height: 40px; padding: 10px 15px;">
						                    <div class="col-lg-6">	
	                                              <p><b>Position</b></p> 
						                    	</div>
						                    	<div class="col-lg-3" >
	                                              <p><b>Open Until</b></p> 
						                    	</div>
						                </div>
						                <ul class="list-group">
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Smart City Internship</p> 
						                    	</div>
						                    	<div class="col-lg-3" >
	                                              <p>July 1 2017</p> 
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Animal Shelter Internship</p> 
						                    	</div>
						                    	<div class="col-lg-3" >
	                                              <p>July 1 2017</p> 
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Administrative Assistant</p> 
						                    	</div>
						                    	<div class="col-lg-3" >
	                                              <p>Filled</p> 
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Mayor</p> 
						                    	</div>
						                    	<div class="col-lg-3" >
	                                              <p>Filled</p> 
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Firefighter</p> 
						                    	</div>
						                    	<div class="col-lg-3" >
	                                              <p>Jan 28 2017</p> 
						                    	</div>
						                    </a>
							            </ul>
							        </div>
		            				<!------------------------->	
		            				
								</div>
                       	</div>
                       	
                       	
                        <div class="tab-pane fade in " id="tabBusiness" height="100%"> 
                        	
								
                       	</div>
                                     	

	                	
	                    <div class="tab-pane fade in" id="tabResources" height="100%"> 
	                    									
	
	                	</div>
	            	</div>
	        	</div>
    
	
			</div>

            
  		</div>

	