
<div class="col-gold-lg SBgrey5" style="color:#fff">
	<div class="col-lg-12" style="color:#fff; margin-bottom:10%; margin-bottom:10%;margin-left:4%;margin-right:-5%;">
		<h1>About mySB</h1>
		<div class="col-lg-11">
			<h3>
				MySB provides South Bend residents and visitors online access to city services including utility accounts, 
				City Assistance service requests, city employment resources and applications, and other unique services 
				like virtual city meetings.  
			</h3>
			
		<a href="../mySB/create_account.php" class="btn btn-manage btn-block" align="center"><h3>Create Account</h3></a>
		</div>


</div>
</div>
 