<!--Header-->
<div class="row">		<!--style="margin-top: 50px; ">-->
	<!--System Name-->
	<div class="col-lg-8" style="height: 100px;">
	    <div class="row" style=" margin-left: 5%;" vertical-align="baseline" align="left">
        	<a href="../SB/SB_splash.php" style="text-decoration:none;">
            	<sb_header_s style="font-size:70px"> SOUTH </sb_header_s> 
            	<sb_header_b style="font-size:70px; margin-left:-2.5%"> BEND </sb_header_b> 
            	<span class="mySB_header_welcome_tagline"> City Connect </span> 
        	</a>
	 	</div>
	</div>

	<!--Login-->
	<div class="col-lg-4" style=" height: 100px;" right-margin="3.3%" align="right">
	  
		<div class="row" style=" margin-right: 10%;" vertical-align="baseline" align="right"> 
		      	
			<a href="../SB/mySB_login.php" style="text-decoration:none;"> 	<!----  ../mySB/mySB_splash.php-->
		    	<span class="mySB_header_logout">login</span>
		    </a>
				    		  			
				    		  			
          <!-- Button trigger modal -->
			<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitModal">
			  Launch demo modal
			</button>
		-->
			
			<!----------------------------------------------->
			
			<!-- Modal -->
			<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
			    <div class="modal-dialog" role="document">
			        <!--Content-->
			        <div class="modal-content">
			            <!--Header-->
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                </button>
			                <h4 class="modal-title" id="myModalLabel">Login to mySB</h4>
			            </div>
			            <!--Body-->
			            <div class="modal-body">
			            	<div class="row">
			            		<span class="glyphicons glyphicons-envelope"></span>
			            		<input class="form-control" id="inputEmail" placeholder="email" type="text">
			            	</div>
			            	<div class="row">
			            		<span class="glyphicons glyphicons-lock"></span>
			            		<input class="form-control" id="inputPassword" placeholder="password" type="text">
			            	</div>
			            	<div class="row">
				                <button type="button" class="btn btn-secondary" data-dismiss="modal">
				                	<a href="../mySB/mySB_splash.php">Login</a>
			                	</button>
			            	</div>


			            </div>
			            <!--Footer-->
			            <div class="modal-footer">
			            	<div class="col-sm-6">
			            		<span class="glyphicons glyphicons-envelope"></span>
			            		New User? <a href="../mySB/create_account.php">Create Account</a>
			            	</div>
			            	<div class="col-sm-6">
			            		<span class="glyphicons glyphicons-envelope"></span>
			            		<a href="#">Forgot Password?</a>
			            	</div>
			            	
			            </div>
			        </div>
			        <!--/.Content-->
			    </div>
			</div>
			<!-- /.Live preview-->


	  	</div>
  
   	</div>
   	
</div>

