
    	<div class="col-12" style="height: 99%;"> 
    		
    		<div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabCalendar" data-toggle="tab">Calendar</a></li>
                            <li><a href="#tabUpcomingMeetings" data-toggle="tab">Upcoming Meetings</a></li>
                            <li><a href="#tabRecentMeetings" data-toggle="tab">Recent Meetings</a></li>
                            <li><a href="#tabResources" data-toggle="tab">Resources</a></li>
                        </ul>
                </div>
                <div class="panel-body ">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabCalendar" height="500px"> 
                        	
							<div class="col-lg-12">
								<div class="col-lg-6">
										
									<div class="dtp-date-view">
										<div class="dtp-picker">
											<div class="dtp-picker-calendar">
												<div class="dtp-picker-month">
													<center>
														<h3> 
															<a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
															November 2016 
															<a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
														</h3>
													</center></div>
												<table class="table dtp-picker-days">
													<thead><tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr></thead>
													<tbody>
														<tr></tr>
														<tr>
															<td data-date="31"></td>
															<td data-date="31"></td>
															<td data-date="1"><a href="javascript:void(0);" class="dtp-select-day">01</a></td>
															<td data-date="2"><a href="javascript:void(0);" class="dtp-select-day">02</a></td>
															<td data-date="3"><a href="javascript:void(0);" class="dtp-select-day">03</a></td>
															<td data-date="4"><a href="javascript:void(0);" class="dtp-select-day">04</a></td>
															<td data-date="5"><a href="javascript:void(0);" class="dtp-select-day">05</a></td>
														</tr>
														<tr>
															<td data-date="6"><a href="javascript:void(0);" class="dtp-select-day">06</a></td>
															<td data-date="7"><a href="javascript:void(0);" class="dtp-select-day date-selected">07</a></td>
															<td data-date="8"><a href="javascript:void(0);" class="dtp-select-day">08</a></td>
															<td data-date="9"><a href="javascript:void(0);" class="dtp-select-day">09</a></td>
															<td data-date="10"><a href="javascript:void(0);" class="dtp-select-day">10</a></td>
															<td data-date="11"><a href="javascript:void(0);" class="dtp-select-day">11</a></td>
															<td data-date="12"><a href="javascript:void(0);" class="dtp-select-day">12</a></td>
														</tr>
														<tr>
															<td data-date="13"><a href="javascript:void(0);" class="dtp-select-day">13</a></td>
															<td data-date="14"><a href="javascript:void(0);" class="dtp-select-day">14</a></td>
															<td data-date="15"><a href="javascript:void(0);" class="dtp-select-day">15</a></td>
															<td data-date="16"><a href="javascript:void(0);" class="dtp-select-day">16</a></td>
															<td data-date="17"><a href="javascript:void(0);" class="dtp-select-day">17</a></td>
															<td data-date="18"><a href="javascript:void(0);" class="dtp-select-day">18</a></td>
															<td data-date="19"><a href="javascript:void(0);" class="dtp-select-day">19</a></td>
														</tr>
														<tr>
															<td data-date="20"><a href="javascript:void(0);" class="dtp-select-day">20</a></td>
															<td data-date="21"><a href="javascript:void(0);" class="dtp-select-day">21</a></td>
															<td data-date="22"><a href="javascript:void(0);" class="dtp-select-day">22</a></td>
															<td data-date="23"><a href="javascript:void(0);" class="dtp-select-day">23</a></td>
															<td data-date="24"><a href="javascript:void(0);" class="dtp-select-day">24</a></td>
															<td data-date="25"><a href="javascript:void(0);" class="dtp-select-day">25</a></td>
															<td data-date="26"><a href="javascript:void(0);" class="dtp-select-day">26</a></td>
														</tr>
														<tr>
															<td data-date="27"><a href="javascript:void(0);" class="dtp-select-day">27</a></td>
															<td data-date="28"><a href="javascript:void(0);" class="dtp-select-day">28</a></td>
															<td data-date="29"><a href="javascript:void(0);" class="dtp-select-day">29</a></td>
															<td data-date="30"><a href="javascript:void(0);" class="dtp-select-day">30</a></td>
															<td data-date="extra"><a href="javascript:void(0);" class="dtp-select-day"> </a></td>
															<td data-date="extra"><a href="javascript:void(0);" class="dtp-select-day"> </a></td>
															<td data-date="extra"><a href="javascript:void(0);" class="dtp-select-day"> </a></td>
														</tr>
													</tbody>
												</table>
											</div>

</div>
								
								
							</div>
						</div>
								<div class="col-lg-6">	
									<h3> Today's Events </h3>	
									<!------------------------->					
									<div class="panel">
						                <!--<div class="panel-heading" style="height: 40px; padding: 10px 15px;">
						                    <h3 class="panel-title">
						                        Today's Events </h3>
						                </div>-->
						                <ul class="list-group">
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-8">	
	                                              <p>Bill Due</p> 
						                    	</div>
						                    	<div class="col-lg-4" align="right">	
						                    		<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
						                    	</div>
						                    </a>
						                    <a href="../gov/virtual_meeting.php" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-8">	
						                    	<p>Common Council Meeting</p>
						                    	</div>
						                    	<div class="col-lg-4" align="right">	
						                    	<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-8">	
						                    	<p>Corn Festival</p>
						                    	</div>
						                    	<div class="col-lg-4" align="right">	
						                    	<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
						                    	</div>
						                    </a>
							            </ul>
							        </div>
		            				<!------------------------->		
								</div>
                        	
                        	</div>
                       	</div>
                      
	                    <div class="tab-pane fade" id="tabUpcomingMeetings"> 
	                    		                    	
								<div class="col-12">	


									<!------------------------->					
									<div class="panel">
						                <!--<div class="panel-heading" style="height: 40px; padding: 10px 15px;">
						                    <h3 class="panel-title">
						                        Today's Events </h3>
						                </div>-->
						                <ul class="list-group">
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Common Council</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">
	                                              <p>Nov 7 7:30pm-8:30pm</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">	
						                    		<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
						                    	</div>
						                    </a>
						                    <a href="../gov/virtual_meeting.php" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Common Council</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">
	                                              <p>Nov 14 7:30pm-8:30pm</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">	
						                    		
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Common Council</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">
	                                              <p>Nov 21 7:30pm-8:30pm</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">	
						                    	</div>
						                    </a>
							            </ul>
							        </div>
		            				<!------------------------->	
		            				
								</div>
								
	
	                	</div>
	                	
	                    <div class="tab-pane fade" id="tabRecentMeetings"> 
	                    		                    	
								<div class="col-12">	


									<!------------------------->					
									<div class="panel">
						                <!--<div class="panel-heading" style="height: 40px; padding: 10px 15px;">
						                    <h3 class="panel-title">
						                        Today's Events </h3>
						                </div>-->
						                <ul class="list-group">
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Common Council</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">
	                                              <p>Oct 31 7:30pm-8:30pm</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">	
						                    		<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
						                    	</div>
						                    </a>
						                    <a href="../gov/virtual_meeting.php" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Common Council</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">
	                                              <p>Oct 17 7:30pm-8:30pm</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">	
						                    		<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
						                    	</div>
						                    </a>
						                    <a href="#" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<div class="col-lg-6">	
	                                              <p>Common Council</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">
	                                              <p>Oct 10 7:30pm-8:30pm</p> 
						                    	</div>
						                    	<div class="col-lg-3" align="right">	
						                    		<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
						                    	</div>
						                    </a>
							            </ul>
							        </div>
		            				<!------------------------->	
		            				
		
								</div>
								
	
	                	</div>
	                	
	                    <div class="tab-pane fade" id="tabResources"> 
	                    	
								<div class="col-12">	
									<h3> More information about.. </h3>
	
									<!------------------------->					
									<div class="panel">
						                <!--<div class="panel-heading" style="height: 40px; padding: 10px 15px;">
						                    <h3 class="panel-title">
						                        Today's Events </h3>
						                </div>-->
						                <ul class="list-group">
						                    <a href="https://www.southbendin.gov/government/department/common-council" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<p>South Bend Common Council
						                    		<span class="glyphicons glyphicons-new-window-alt"></span>
						                    	</p> 
						                    </a>
						                    <a href="https://www.southbendin.gov/government/department/mayor-pete-buttigieg" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<p>South Bend Mayor's Office
						                    		<span class="glyphicons glyphicons-new-window-alt"></span>
						                    	</p>
						                    </a>
						                    <a href="www.stjosephcountyindiana.com" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<p>St Joseph County
						                    		<span class="glyphicons glyphicons-new-window-alt"></span>
						                    	</p>
						                    </a>
						                    <a href="www.in.gov" class="list-group-item" style="height: 40px; padding: 10px 15px;">
						                    	<p>Indiana State Gov
						                    		<span class="glyphicons glyphicons-new-window-alt"></span>
						                    	</p>
						                    </a>
							            </ul>
							        </div>
		            				<!------------------------->		
								</div>
								
	
	                	</div>
	            	</div>
	        	</div>
    
	
			</div>

            
  		</div>

	