
<a href="../gov/gov.php" class="btn btn-gov btn-block">Leave Virtual Meeting <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
<div class="col-lg-12" style=" height: 100%;">
	
	<div class="row" style="height: 80%;">
  		<iframe width="100%" height="300px" src="//www.youtube.com/embed/3hliekh4Tiw"></iframe>
  	</div>
  	<!--
  	<div class="row" style="height: 60%;">
            <img class="img-responsive" height="100%" margin-left="2%" width="98%" src="../../img/virtual_meeting_screenshot.jpg">
	</div>
	
  	<div class="row" style="height: 5%;">
		<div class="btn-group btn-group-justified">
		  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
		  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a>
		  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span></a>
		  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span></a>
		  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a>
		</div>
	</div>
	-->
	
  	<div class="row" style="height: 20%;">

        <div class="input-group">
  			<textarea class="form-control" rows="2" id="textArea" placeholder="Type your Question/Comment here"></textarea>
        <span class="input-group-addon btn-gov" width="30%">Send
        	<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </span>
        </div>

	</div>
	
  	
</div>
 