


<div class="col" style="margin:1%">
	<div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                	
                  <legend>Fields marked with * are required.</legend>

                  <!-- Text Entry Forms -->
                  
                  
                  <div class="form-group">
                    <label for="inputFirstName" class="col-lg-2 control-label">* Name</label>
                    <div class="col-lg-5">
                      <input class="form-control" id="inputFirstName" placeholder="Jane" type="text">
                    </div>
					<div class="col-lg-5">
                      <input class="form-control" id="inputLastName" placeholder="Doe" type="text">
                    </div>
                  </div>
                  
                                  
                  <div class="form-group">
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">* Email</label>
                    <div class="col-lg-10">
                      <input class="form-control" id="inputEmail" placeholder="jane_doe@gmail.com" type="text">
                    </div>
                  </div>
                    <label for="inputAddress" class="col-lg-2 control-label">* Address</label>
                    <div class="col-lg-7">
                      <input class="form-control" id="inputAddress" placeholder="123 4th Street, South Bend" type="text">
                    </div>
                    <div class="col-lg-3">
                      <input class="form-control" id="inputZipCode" placeholder="46616" type="text">
                    </div>
                  </div>
                  
                  
                  <div class="form-group">
                    <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                    <div class="col-lg-10">
                      <input class="form-control" id="inputPhone" placeholder="(574)123-4567" type="text">
                    </div>
                  </div>
                  
                  <!-- End of Entry Forms -->
                  
                  <!-- Decision Buttons -->
				  
                  <div class="col-lg-3">
	                  <div class="form-group" >
	                    <label for="syncUtilities" class="col-gold-lg">Sync Utilities</label>
	                    
								<label class="switch">
			  				  		<input id="syncUtilities" type="checkbox">
			  							<div class="slider round"></div>
							  	</label>
	                    </div>
	                  
	              </div> 
                  <div class="col-lg-3">
	                  <div class="form-group">
	                    <label for="syncCalendar" class="col-gold-lg">Sync Calendar</label>
	                    
								<label class="switch">
			  				  		<input id="syncCalendar" type="checkbox">
			  							<div class="slider round"></div>
							  	</label>
	                    </div>
	                  
	              </div> 
                  <!-- End of Decision Buttons -->
                  <!-- Save Button -->
                  <div class="col-lg-3" height="10px">
                  	<a href="../SB/SB_about_mySB.php" class="btn btn-manage btn-block btn-xsm" style="padding:0px"><h3>Cancel</h3></a>
	              </div> 
                  <div class="col-lg-3" height="10px">
                  	<a href="../mySB/mySB_splash.php" class="btn btn-manage btn-block btn-xsm" style="padding:0px"><h3>Save</h3></a>
	              </div>
                  
                  
                  


                </fieldset>
              </form>
            </div>
</div>