






    	<div class="col-12" style="height: 99%;"> 
    		
    		<div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabProfile" data-toggle="tab">my Profile</a></li>
                            <li><a href="#tabAccounts" data-toggle="tab">Accounts</a></li>
                            <li><a href="#tabPaymentAccounts" data-toggle="tab">Payment Accounts</a></li>
                        </ul>
                </div>
                <div class="panel-body ">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabProfile" height="500px"> 
                        	<div class="row">
                        		<div class="col-gold-sm" align="right">
	                        		<h3>Name:</h3>
	                        	</div> 
	                        	<div class="col-gold-lg">
	                        		<h3 id="name">Jane Doe</h3>
	                        	</div>
                        	</div>
                        	
							<div class="row">
	                        	<div class="col-gold-sm" align="right">
	                        		<h3>Email:</h3>
	                        	</div> 
	                        	<div class="col-gold-lg">
	                        		<h3 id="email">jane_doe@gmail.com</h3>
	                        	</div>
                        	</div>
                        	
							<div class="row">
	                        	<div class="col-gold-sm" align="right">
	                        		<h3>Address:</h3>
	                        	</div> 
	                        	<div class="col-gold-lg">
	                        		<h3 id="address">100 Main Street, South Bend, IN 46616</h3>
	                        	</div>
                        	</div>
                        	
							<div class="row">
	                        	<div class="col-gold-sm" align="right">
	                        		<h3>Phone:</h3>
	                        	</div> 
	                        	<div class="col-gold-lg">
	                        		<h3 id="name">(574)000-0000</h3>
	                        	</div>
                        	</div>
                        	


                  
							<div class="col-12" >
							  		<a href="../mySB/edit_profile.php" class="btn btn-manage btn-block" align="right">
							    		<h3> Edit Profile <span class="glyphicon glyphicon-pencil"></span><span class="glyphicon glyphicon-user"></span></h3>
							  		</a>
							</div>

                       	</div>
                        <div class="tab-pane fade in" id="tabAccounts" height="500px"> 
                        	
							<div class="col" style="margin-top:5%;margin-bottom:5%;">
							<table class="table" > 
								<thead> 
									<tr> 
							
									  <th><h3 style="padding:0px; margin:0px">Email</h3></th> 
									  <th><h3 style="padding:0px; margin:0px">Address</h3></th> 
									  <th><h3 style="padding:0px; margin:0px">Phone</h3></th> 
									  <th><h3 style="padding:0px; margin:0px">Account Type</h3></th>
									  <th></th> <th></th> 
									
									</tr> 
								</thead> 
								<tbody> 
									<tr> 
										<td>jane_doe@gmail.com</td> 
										<td>100 Main Street </td> 
										<td>(574)000-0000</td> 
										<td><h3 style="padding:0px; margin:0px">
											<span class="glyphicon glyphicon-user"></span>
											<span class="glyphicon glyphicon-flash"></span>
											<span class="glyphicon glyphicon-calendar"></span>
											</h3></td> 
										<td><a href="../mySB/edit_account.php" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-pencil"></span></h3></a></td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-trash"></span></h3></a></td> 
										 
									</tr> 
									<tr> 
										<td>jdoe_leasing@gmail.com</td> 
										<td>123 4th Street </td> 
										<td>(574)123-4567</td> 
										<td><h3 style="padding:0px; margin:0px">
											<span class="glyphicon glyphicon-flash"></span>
											</h3></td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-pencil"></span></h3></a></td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-trash"></span></h3></a></td> 
										 
									</tr> 
									<tr> 
										<td>jdoe_leasing@gmail.com</td> 
										<td>125 4th Street </td> 
										<td>(574)123-4567</td> 
										<td><h3 style="padding:0px; margin:0px">
											<span class="glyphicon glyphicon-flash"></span>
											</h3></td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-pencil"></span></h3></a></td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-trash"></span></h3></a></td> 
										 
									</tr> 
							
								</tbody> 
							</table>
							
							</div>
							
							
							<div class="col-12" align="right">

							  		<a href="../mySB/add_account.php" class="btn btn-manage btn-block" align="right">
							    		<h3> <span class="glyphicon glyphicon-plus"></span> New Account </h3>
							  		</a>

							</div>

                       	</div>
                        <div class="tab-pane fade in" id="tabPaymentAccounts" height="500px"> 
                        	<div class="col" style="margin-top:5%;margin-bottom:5%;">
							<table class="table" > 
								<thead> 
									<tr> 
							
									  <th><h3 style="padding:0px; margin:0px">Account Nickname</h3></th> 
									  <th><h3 style="padding:0px; margin:0px">Type</h3></th> 
									  <th></th> <th></th> 
									
									</tr> 
								</thead> 
								<tbody> 
									<tr> 
										<td>Jane Checking</td>  
										<td> Checking </td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-pencil"></span></h3></a></td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-trash"></span></h3></a></td> 
										 
									</tr> 
									<tr> 
										<td>JDoe Leasing Visa</td>  
										<td> Credit Card </td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-pencil"></span></h3></a></td> 
										<td><a href="" ><h3 style="padding:0px; margin:0px"><span class="glyphicon glyphicon-trash"></span></h3></a></td> 
										 
									</tr> 
							
								</tbody> 
							</table>
							
							</div>
							
							
							<div class="col-12" >
							  		<a href="../mySB/add_payment_account.php" class="btn btn-manage btn-block" align="right">
							    		<h3> <span class="glyphicon glyphicon-plus"></span> New Payment Account </h3>
							  		</a>
							</div>

                       	</div>
                      
								
	
	            	</div>
	        	</div>
    
	
			</div>

            
  		</div>

	
	